.paginacion {
    display: flex;
    justify-content: space-between;
    margin-top: $separacion;
    button {
        background-color: $azul;
        padding: 0.5rem 1rem;
        display: block;
        text-align: center;
        color: $blanco;
        border: none;
        border-radius: 16px;
        font-weight: $black;
        font-size: 1.5rem;
        text-transform: uppercase;

        &.ocultar{
            visibility: hidden;
        }
        &:hover {
            cursor: pointer;
        }
    }
}