.listado-servicios {
    @include tablet{
        @include grid (2, $separacion / 2);

    }
    .servicio {
        margin-bottom: 2rem;
        border-radius: 20px;
        padding: $separacion / 2;
        background-color: $blanco;
        @include tablet {
            margin-bottom: 0;
        }

        p{
            margin: 0 0 $separacion / 4 0;
        }
        .nombre-servicio{
            color: $negro;
        }
        .precio-servicio {
            margin: 0;
            color: $azul;
            font-size: 3rem;
            font-weight: $bold;
        }
        &.seleccionado {
            background-color: $azul;
            p {
                color: $blanco;
            }
        }
    }
}